<div class="content">
  <form name="contactForm" ng-submit="sendMessage()" novalidate>
    <input type="text" placeholder="name" name="name" ng-model="contact.name" ng-required="true"/>
    <div style="color:red; text-align:center;" ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small>Enter a valid name</small>
    </div>
    <input type="email" placeholder="email" name="email" ng-model="contact.email" ng-required="true" />
    <div style="color:red; text-align:center;" ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small>Enter a valid email</small>
    </div>
    <textarea placeholder="Your Message" name="message" ng-model="contact.message" ng-required="true" ></textarea>
    <div style="color:red; text-align:center;" ng-show="contactForm.message.$touched && contactForm.message.$invalid">
      <small>Please enter a message</small>
    </div>
    <input type="submit" value="Send" ng-disabled ="contactForm.$invalid"/>
  </form>
</div>
